<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net472" />
  <package id="Microsoft.UI.Xaml" version="2.7.2" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.1245.22" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.30" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.6.0.20220608" targetFramework="net472" />
  <package id="OpenCvSharp4.Extensions" version="4.6.0.20220608" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.ubuntu.18.04-x64" version="4.6.0.20220608" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.6.0.20220608" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.6.0.20220608" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="Spire.XLS" version="12.7.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="WebView2.Runtime.X86" version="103.0.1264.77" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.8" targetFramework="net472" />
</packages>